# ---------------------------------------------------------------------------
# opt-rdma: RoCE/InfiniBand for hosts whose storage or east-west fabric is
# RDMA-attached.  Off by default -- it is a large amount of code and a
# userspace-facing verbs ABI that most KVM hosts do not need.
# ---------------------------------------------------------------------------
CONFIG_INFINIBAND=y
CONFIG_INFINIBAND_USER_ACCESS=y
CONFIG_INFINIBAND_USER_MAD=y
CONFIG_MLX5_INFINIBAND=y
# CONFIG_RDMA_RXE is not set
CONFIG_NVME_RDMA=y
